* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: rgb(5, 119, 20);


    color: beige;
}

canvas#cvs {
    background-image: url('images/crash-canvas-bg.jpg');
    margin: 0 0 0 300px;
    /* border: 5px solid black; */
}